name: Release
on:
  workflow_dispatch:
    inputs:
      specifier:
        description: 'Semver specifier to release'
        type: choice
        options:
          - 'major'
          - 'minor'
          - 'patch'
          - 'prerelease'
        required: true
      dry-run:
        description: 'Run in dry-run mode'
        type: boolean
        default: false
        
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      NX_NO_CLOUD: ${{ vars.NX_NO_CLOUD }}
    steps:
    - uses: actions/checkout@v4
      with:
        filter: tree:0
        fetch-depth: 0
        token: ${{ secrets.BOT_TOKEN }}

    - uses: pnpm/action-setup@v4
      with:
        version: '10'

    - uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'pnpm'

    - name: Setup git user
      shell: bash
      run: |
        git config --global user.name 'amidostacks'
        git config --global user.email 'stacks@amido.com'

    - name: Install
      shell: bash
      run: pnpm install --frozen-lockfile

    - name: Release
      shell: bash
      run: |
        pnpm exec nx release --specifier=${{ github.event.inputs.specifier }} --skip-publish ${{ fromJson('["", "--dry-run"]')[github.event.inputs.dry-run == 'true'] }}
      env:
        NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        HUSKY: 0
